body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #f0f0f0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    
}
.winning-cell {
    color: #d9534f; /* Cambia el color de las celdas ganadoras */
    font-size: 2.5rem; /* Aumenta el tamaño de la letra */
    transition: font-size 0.3s, color 0.3s; /* Añade una transición suave */
}
